ErrorDocument 404 /fehler404.html

Redirect 301 /allgemein/masse_brit.html http://tafelwerk.auge8472.de/allgemein/alte-masse.html
Redirect 301 /astronomie/solarsystem.html http://tafelwerk.auge8472.de/astronomie/index.html
Redirect 301 /physik/physik00.html http://tafelwerk.auge8472.de/physik/index.html
Redirect 301 /physik/physik01.html http://tafelwerk.auge8472.de/physik/schall-und-licht.html
Redirect 301 /physik/physik02.html http://tafelwerk.auge8472.de/physik/zeit-und-raum.html
Redirect 301 /physik/physik03.html http://tafelwerk.auge8472.de/physik/mechanik.html
Redirect 301 /physik/physik04.html http://tafelwerk.auge8472.de/physik/elektrizitaet.html
Redirect 301 /physik/physik05.html http://tafelwerk.auge8472.de/physik/thermodynamik.html

Redirect 301 /geometrie/geomet00.html http://tafelwerk.auge8472.de/geometrie/index.html
Redirect 301 /geometrie/geomet03.html http://tafelwerk.auge8472.de/geometrie/konstruktionen-boegen.html
Redirect 301 /geometrie/geomet05.html http://tafelwerk.auge8472.de/geometrie/kreise.html
