ErrorDocument 404 /fehler404.html

Redirect 301 /allgemein/masse_brit.html http://tafelwerk.auge8472.de/allgemein/alte-masse.html
Redirect 301 /astronomie/solarsystem.html http://tafelwerk.auge8472.de/astronomie/index.html
