*, :before, :after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Times New Roman", serif;
	line-height: 150%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	margin: 0;
	padding: 0;
	background: #810;
	color: #fff;
}

h1 {
	margin: 0;
	padding: 0.25em 0.5em;
	padding: 0.25rem 0.5rem;
}

h1 .main-title {
	font-size: 1.1em;
	font-size: 1.1rem;
	display: block;
}
h1 .sub-title {
	font-size: 1.3em;
	font-size: 1.3rem;
	display: block;
}

h2 {
	margin: 0.25em 0;
	margin: 0.25rem 0;
	padding: 0;
	font-size: 1.3em;
}
h3 {
	margin: 0.25em 0;
	margin: 0.25rem 0;
	padding: 0;
	font-size: 1em;
}

nav {
	margin: 0 0.5em;
	margin: 0 0.5rem;
	padding: 0;
}
main {
	display: block;
	margin: 0 0.5em;
	margin: 0 0.5rem;
	padding: 0;
	flex: 1;
}

nav h2 {
	display: none;
}
nav ul {
	margin: 1em 0;
	padding: 0;
}
main #breadcrumb {
	display: flex;
	flex-wrap: wrap;
	gap: 0.35em;
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0 0 0.5em 0;
	border-bottom: 1px solid #eee;
}
nav li {
	list-style: none;
	margin: 0 0 0.35em 0;
	margin: 0 0 0.35rem 0;
}
nav li:last-child {
	margin: 0;
}
nav a,
#breadcrumb a {
	display: inline-block;
	box-shadow: 0em 0em 0.5em hsla(0, 0%, 40%, 0.5);
	width: 100%;
	border: 1px solid transparent;
	border-radius: 0.2em;
	border-radius: 0.2rem;
	text-decoration: none;
	background: #efa;
}
nav a {
	padding: 0.2em 0.4em;
	padding: 0.2rem 0.4rem;
}
#breadcrumb a {
	padding: 0.1em 0.2em;
	padding: 0.1rem 0.2rem;
}
nav a:link,
nav a:visited,
#breadcrumb a:link,
#breadcrumb a:visited {
	border-color: #cc5;
	background: #cc5;
	color: #220;
}
nav a:focus,
nav a:hover,
#breadcrumb a:focus,
#breadcrumb a:hover {
	border-color: #ee9;
	background: #ee9;
	color: #420;
}
nav a:active,
#breadcrumb a:active {
	border-color: #eda;
	background: #eda;
	color: #ffc;
}
#breadcrumb a:not([href]) {
	font-style: italic;
	background-color: #eda;
	background: #eda;
}

footer {
	margin: 0.5em 0 0 0;
	margin: 0.5rem 0 0 0;
	padding: 0;
	background-color: #ffc;
}
footer ul {
	margin: 0;
	padding: 0.5em 0.5em;
	padding: 0.5rem 0.5rem;
}
footer li {
	list-style: none;
	margin: 0.2em 0;
	margin: 0.2rem 0;
}
a.flattr {
	display: inline-block;
	box-shadow: 0.1em 0.1em 0.25em hsla(0, 0%, 80%, 0.5);
	border: 0;
	border-radius: 0.2em;
	border-radius: 0.2rem;
	padding: 0.2em 0.4em;
	padding: 0.2rem 0.4rem;
	text-decoration: none;
	background: #8db65b;
	color: #fff;
	font-weight: bold;
}

svg {
	display: inline-block;
}

table {
	border: 1px solid #222;
	border-collapse: collapse;
}
tr {
	border-bottom: 1px dotted #222;
}

th, td {
	padding: 0.15em 0.25em;
	padding: 0.15rem 0.25rem;
	vertical-align: top;
}
th:first-child, td:first-child {
	border-right: 1px dotted #222;
}

table.wholepage td, table.periods th, table.periods td {
	border: 1px dotted #222;
}

.wholepage th {
	font-size: 75%;
	text-align: center;
}
.wholepage th, .wholepage td {
	margin: 0;
	padding: 1px;
}

.wholepage a {
	display: inline-block;
	width: 1.8em;
	height: 1.6em;
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: #000;
}
.periods thead th {
	font-size: 0.86em;
}
.periods tbody th {
	vertical-align: middle;
}
.periods tbody td {
	width: 2.5em;
	height: 2.5em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.periods tbody a {
	display: block;
	width: 100%;
	height: 100%;
}
.periods tbody a:focus.elem-un, .periods tbody a:hover.elem-un {
	color: #445;
	background: #f0f2ff;
	outline: 2px solid #66c;
}
.periods tbody a:focus.elem-sauer-stark, .periods tbody a:hover.elem-sauer-stark {
	background: #ff6f6b;
	outline: 2px solid #ffb480;
}
.periods tbody a:focus.elem-sauer-schwach, .periods tbody a:hover.elem-sauer-schwach {
	color: #445;
	background: #fff8db;
	outline: 2px solid #d65;
}
.periods tbody a:focus.elem-neutral, .periods tbody a:hover.elem-neutral {
	color: #445;
	background: #fffa2b;
	outline: 2px solid #2a4;
}
.periods tbody a:focus.elem-basisch-schwach, .periods tbody a:hover.elem-basisch-schwach {
	color: #445;
	background: #e8e8ff;
	outline: 2px solid #66c;
}
.periods tbody a:focus.elem-basisch-stark, .periods tbody a:hover.elem-basisch-stark {
	background: #8484ff;
	outline: 2px solid #8af;
}
.periods tbody a:focus.elem-edelgas, .periods tbody a:hover.elem-edelgas {
	color: #445;
	background: #e8e8e8;
	outline: 2px solid #559;
}

.elem-un {
	background: #fff;
}
.elem-sauer-stark {
	background: #f44;
}
.elem-sauer-schwach {
	background: #fec;
}
.elem-neutral {
	background: #fe0;
}
.elem-basisch-schwach {
	background: #ccf;
}
.elem-basisch-stark {
	background: #66f;
}
.elem-basisch-stark {
	background: #66f;
}
.elem-edelgas {
	background: #ccc;
}
.elem-un, .elem-un a, .elem-edelgas, .elem-edelgas a, .elem-sauer-schwach, .elem-sauer-schwach a, .elem-neutral, .elem-neutral a, .elem-basisch-schwach, .elem-basisch-schwach a {
	color: #222;
}
.elem-sauer-stark, .elem-sauer-stark a, .elem-basisch-stark, .elem-basisch-stark a {
	color: #fff;
}
.el-symbol {
	display: inline-block;
	width: 1.65em;
	height: 1.65em;
	margin: 0 0.3em 0 0;
	padding: 0 0 0.2em 0;
	border: 1px solid #222;
	text-align: center;
}
#section-elem-list ol {
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
	list-style: none;
	padding: 0;
	margin: 0;
}
#section-elem-list ol > li {
	border: 1px solid #eee;
	border-radius: 0.2em;
	border-radius: 0.2rem;
	box-shadow: 0.2em 0.2em 0.3em hsla(0, 0%, 80%, 0.3);
	padding: 0.2em 0.4em;
}
#section-elem-list ol > li:target {
	border-color: #89d;
	background-color: #fff;
	box-shadow: 0.2em 0.2em 0.3em hsla(0, 0%, 80%, 0.75);
}
#section-elem-list h3 {
	display: flex;
	align-content: center;
}
#section-elem-list h4 {
	margin: 0.2em 0;
	margin: 0.2rem 0;
}
.el-details dl {
	display: grid;
	grid-gap: 0.25em;
	grid-template-columns: 9em auto;
}
.el-details dt, .el-details dd {
	margin: 0;
	padding: 0;
}
.el-details ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

.bildbeschreibung img[src$=".svg"] {
	width: 100%;
	height: auto;
}

/* tables on narrow screens */
@media screen and (max-width: 30em) {
	table {
		width: 100%;
	}
	table:not(.wholepage):not(.periods) thead {
		display: none;
	}
	table:not(.wholepage):not(.periods) tr,
	table:not(.wholepage):not(.periods) td {
		display: block;
		width: calc(100% - 1px);
	}
	td:first-child {
		font-weight: bold;
		background-color: #ffb;
	}
	th:first-child, td:first-child {
		border-right: none;
	}
	.wholepage th, .wholepage td {
		font-size: 40%;
		line-height: 125%;
	}
}

/* navigation on wider screens */
@media screen and (min-width: 22em) {
	nav ul {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0.5em 0;
		margin: 0.5rem 0;
	}
	nav li {
		-webkit-flex: 1;
		flex: 1;
		margin: 0.1em;
		margin: 0.1rem;
		text-align: center;
	}
	nav li:last-child {
		margin: 0.1em;
		margin: 0.1rem;
	}
}

@media screen and (min-width: 30em) {
	main {
		margin: 0.5em auto;
		margin: 0.5rem auto;
		padding: 0.5em 1em;
		padding: 0.5rem 1rem;
	}
	h1 .main-title {
		font-size: 1.15em;
		font-size: 1.15rem;
	}
	h1 .sub-title {
		font-size: 1.5em;
		font-size: 1.5rem;
	}
	.datatablecontainer {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}
}

@media screen and (min-width: 52em) {
	main {
		background: #fbfbfb;
		border: 1px solid #eee;
		border-radius: 0.2em;
		border-radius: 0.2rem;
		box-shadow: 0.2em 0.2em 0.3em hsla(0, 0%, 80%, 0.3);
		max-width: 50em;
	}
}
